<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Communities</h1>
      <p>Discover your inner self through our curated communities.</p>
    </div>
  </div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="list-group">
      <a *ngFor="let com of communities" routerLink="/community/{{com.title}}"
      class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">relpy/{{com.title}}</h5>
          <small class="text-muted">{{com.dateCreated}}</small>
        </div>
        <p class="mb-1">{{com.description}}</p>
        <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
      </a>
    </div>
  </div>
  <div class="col-2"></div>
</div>


<!-- <ul class="coms">
  <li *ngFor="let com of communities"
    [class.selected]="com === selectedCom"
    (click)="onSelect(com)">
    <span class="badge">{{com.id}}</span> {{com.title}}
  </li>
</ul>

<div *ngIf="selectedCom">
  <h2>{{selectedCom.title | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedCom.id}}</div>
  <div>
    <label>title:
      <input [(ngModel)]="selectedCom.title" placeholder="title"/>
    </label>
  </div> 
</div> -->