<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a class="navbar-brand" >Relpy</a>
	<div class="collapse navbar-collapse" >
	  <ul class="navbar-nav mr-auto">
		<div>
		  <li  class="nav-item" (click)="logout()" >
			<a class="nav-link">logout</a>
		  </li>
		</div>
		<li  class="nav-item" (click)="Community()" >
			<a class="nav-link" >community</a>
		</li>
	  </ul>
	</div>
  </nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{thread.title}}</h1>
    <p>{{thread.description}}</p>
  </div>
</div>

<div class="row mb-3">
  <div class="col-2"></div>
    <div class="col-8">

      <div *ngIf="!addCommentToggle">
        <button id = "div-add-button" type="button" class="btn btn-primary btn-block" (click)="toggleAddingComments()">Post Comment</button>
      </div>
      <div>
        <button id = "div-add-button" type="button" class="btn btn-dark btn-block mt-3" (click)="refreshComments()">Refresh Comments</button>
      </div>
      <p class="badge badge-dark">Currency: {{moneyMap.currency}}</p>
      <div *ngIf="errorMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span (click)="closeError()" aria-hidden="true">&times;</span>
        </button>
      </div>
      <form *ngIf="addCommentToggle">
        <h4>Post Comment</h4>

        <button type="button" class="close" (click)="closeAddingComments()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="mb-3">
          <label for="addComment"></label>
          <textarea  class="form-control" id="addComment" rows="3"
          placeholder="Enter Comment Here..." [(ngModel)]="comment.text"
          [ngModelOptions]="{standalone: true}"></textarea>
          <div class="add-thread-validation-message"></div>
        </div> 
        <div class="mb-3">
          <button type="button" class="btn btn-primary btn-block" (click)="postComment()">Post Comment</button>
        </div>
      </form>
    </div>
    <div class="col-2">
    </div>
  </div>
<div *ngIf="comments" class="container">
  <app-comment *ngFor="let comment of comments" [thread]="thread" [reply]="reply" [moneyMap]="moneyMap" (replySent)="replySent()" (invalidFundsEmitter)="displayError($event)" (commentListEmitter)="refreshReplies($event)" [comment]="comment" ></app-comment>
</div>
