form.add-thread{
    border: 0.5px solid #5f5449;
    background: rgba(193, 66, 66, 0.1);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-right: 20px;
}

textarea.form-control{
    resize: none;
}

#div-add-button{
    margin-left: 25px;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 6px 8px; /* Some padding */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }