<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Relpy</a>
	<div class="collapse navbar-collapse" >
	  <ul class="navbar-nav mr-auto">
		<div>
		  <li  class="nav-item" (click)="logout()" >
			<a class="nav-link" href="#">logout</a>
		  </li>
		</div>
		<li  class="nav-item" (click)="community()" >
			<a class="nav-link" href="#">community</a>
		</li>
	  </ul>
	</div>
  </nav>

<div class="jumbotron jumbotron-fluid" routerLink="/community">
  <div class="container">
    <h1>relpy/{{com.title}}</h1>
    <p>{{com.description}}</p>
  </div>
</div>

<!-- Add Thread Button -->
<div class="row">
  <div class="col-2"></div>
    <div class="col-8">

      <button id = "div-add-button" type="button" class="btn btn-primary" (click)="changeThreadBool()">Add Thread</button>

      <form class="add-thread" *ngIf="addThreadBool">
        <h4>Add Thread</h4>

        <button type="button" class="close" (click)="changeThreadBool()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="mb-3">
          <label for="addThreadTitle">Thread Title</label>
          <textarea class="form-control" id="addThreadTitle" 
          placeholder="Add Thread Title" [(ngModel)]="addThread.title" 
          [ngModelOptions]="{standalone: true}"></textarea>
          <!-- <h1>{{addThread.title}}</h1> -->
        </div> 

        <div class="mb-3">
          <label for="addThreadDescription">Thread Description</label>
          <textarea class="form-control"  id="addThreadDescription" rows="3"
          placeholder="Add Thread Description" [(ngModel)]="addThread.description" 
          [ngModelOptions]="{standalone: true}"></textarea>
          <!-- <h1>{{addThread.description}}</h1> -->

          <div class="add-thread-validation-message"></div>
        </div> 
        <div class="mb-3">
          <button type="button" class="btn btn-primary" (click)="addNewThread()">Add Thread</button>
          <!-- <button type="submit" class="btn btn-primary">Add Thread</button> -->
        </div>
      </form>
    </div>
  <div class="col-2"></div>
</div>


<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <app-thread *ngFor="let thread of com.threads" [thread] = "thread" [community] = "com"
        (deleteEmitter)="refreshThreads($event)"></app-thread>
  </div>
  <div class="col-2"></div>
</div>

