.card{
    width: 100%;
    min-height: 10rem;
    max-height: 15rem;
    background: rgba(193, 66, 66, 0.1);
}

.card-body{    
}

.card-title{
    color: #5f5449;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-subtitle{
    color: #717ec3;
}

.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

button.close{
    position: absolute;
    top:10px;
    right:15px;
}

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 6px 8px; /* Some padding */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

    position: absolute;
    top:10px;
    right:15px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }