<div class="card rounded-0">
    <div class="card-body p-3">
        <h4 class="card-title">Thread Title</h4>
        <p class="card-subtitle">User Name: The Original Poster</p>
        <div class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, optio, quisquam unde dolore soluta nesciunt sint blanditiis velit esse quasi aliquid nam maxime id obcaecati tempore nemo. Quae est asperiores obcaecati, ipsum illo quo expedita recusandae mollitia nesciunt, necessitatibus officiis provident sunt corrupti totam alias nihil, nobis quod. Dignissimos, eos.</div>
    </div>
    <div class="card-footer">
        <a routerLink="/thread-detail" class="card-link">Click Here To View Thread</a>
    </div>
</div>



