<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Relpy</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <!-- <div>
          <li  class="nav-item" (click)="logout()" >
            <a class="nav-link" href="#">logout</a>
          </li>
        </div> -->
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 align="center">Relpy</h1>
        <p align="center">come join our community!</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm rounded">
            <div class="d-flex justify-content-center">
                <Label>Enter your info to register</Label>
            </div>
            <div class="d-flex justify-content-center">
                <label>Username</label>
            </div>
            <div class="d-flex justify-content-center">
                <input type="text" [(ngModel)]="user.username" class="username" placeholder="Enter Username">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <label>Password</label>
            </div>
            <div class="d-flex justify-content-center">
                <input type="password" [(ngModel)]="user.password" class="password" placeholder="Enter Password">
            </div>
            <br>
            <div class="btn-toolbar" role="toolbar" align="center">
                <div class="btn-group mr-2" role="group">
                    <button type="button" (click)="registerUser()" class="btn btn-dark">Register User</button>
                </div>
                <div class="btn-group mr-2" role="group">
                    <button type="button" (click)="registerAdmin()" class="btn btn-dark">Register Admin</button>
                </div>
                <div class="btn-group mr-2" role="group">
                    <button type="button" class="btn btn-dark"><a routerLink="/login">Login</a></button>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="col"></div>
    </div>
</div>