<div class="card">
	<div class="rounded-2 p-2 m-3">
		<!-- links to replies -->
		<div>
			<ul *ngFor="let relp of comment.replies;" display="inline" >
				<li>
					<a href="relp.id">{{relp.id}}</a>
				</li>
			</ul>
		</div>
		<p class="p-3">{{comment.text}}</p>
		<span class="float-right mr-3">{{comment.activeUser.user.username}} | 
			CharBank: {{comment.activeUser.charBank}} | 
			{{comment.dateCreated.toLocaleDateString()}}</span>
		<input type="hidden" [value]="[comment.id]"/>
		<button type="button" (click)="replyToThisComment()">reply</button>
	</div>
	<div *ngIf="wantToReply">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<textarea id="texts" class="m-3 container" name="replyHere" [(ngModel)]="reply.text"></textarea>
				<div class="btn-group btn-group-sm float-right m-1">
					<button type="button" class="btn btn-primary"(click)="post()">Post Reply</button>
					<button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
		
	</div>
</div>

<!--
- Fount at: https://stackoverflow.com/questions/15446397/cleanest-way-to-add-reply-forms-to-nested-comments
- Date found: 01/28/2020
- use: adding a reply box to a comment hopefully

<div class="comment">
    comment1
</div>
<div class="comment">
    comment2
</div>
<div style="display:none">
    <form id="commentForm">
        <textarea name="comment"></textarea>
    </form>
</div>

var Comment = {
    init: function() {
        $(".comment").bind('click', $.proxy(this.handleClick, this));
    },
    handleClick: function(evt) {
         var form = $('#commentForm').clone();
         var target = $(evt.target);
         var isFormAvailable = $("#commentForm", target).length > 0;
         if(!isFormAvailable) {
             $(evt.target).append(form);
         }
    }   
};

$(function() {
    Comment.init();
});

-->